# Rails stuff
*.log
log/*.log
tmp/*
tmp/**/*
db/*.sqlite3
db/*.sqlite3-journal

# Unit testing / code coverage
rerun.txt
coverage/**/*
coverage.data
doc/**/*
webrat.log

# Project / editor files
.*~
*.bak
.project
.idea
.rvmrc
nbproject/*
