<%= render :partial => 'layouts/toolbar_header',
	:locals => {:article			=> @article,
				:article_active		=> true
				} -%>
<div id="body">
<%= render :partial => "form", :locals => {:article => @article} %>
</div>