<%= render :partial => 'layouts/toolbar_header',
	:locals => {:article			=> @article,
				:article_active		=> false,
				:talk_forum			=> nil,
				:talk_forum_active	=> false,
				:read_active		=> false,
				:edit_active		=> false,
				:history_active		=> false,
				:star_active		=> false,
				:menu_active		=> false
				} -%>

<div id="body">
	<h2>Articles:</h2>
	<% @articles.each do |article| %>
		<h3><%=link_to (h article.title), article_url(article) %></h3>
	<% end %>
	<br />
</div>

<% content_for :title do %>Articles<% end %>  
