	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
		
<h1><%=h @article.title %></h1>
<div class="article-text">
<%=h @article.current_revision.body %>
</div>
