<%= render :partial => 'layouts/toolbar_header',
	:locals => {:article			=> @article,
				:article_active		=> true,
				:talk_forum			=> nil,
				:talk_forum_active	=> false,
				:read_active		=> true,
				:edit_active		=> false,
				:history_active		=> false,
				:star_active		=> false,
				:menu_active		=> false
				} -%>

<div id="body">
	<h1><%=h @article.title %></h1>
	<div class="article-text">
	<%=h @article.current_revision.body %>
	</div>
</div>