<%= render :partial => 'layouts/toolbar_header',
	:locals => {:article			=> @article,
				:article_active		=> true
				} -%>

<div id="body">
	<h1><%=h @article.title %></h1>
	<div class="article-text">
	<%=h @article.current_revision.body %>
	</div>
</div>