body{
background: #F7F7F7;
font-family: Helvetica, arial, sans-serif;
}

div#login-bar{
  text-align: center;
  margin:auto;
  margin-top: -7px;
  margin-bottom: 12px;
  padding-top: 1px;
border: 1px solid #B3B3B3; 
border-top:none;
background: #FFF;
width:30em;
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
}

div#logo{
  margin-left:5px;
  margin-top:5px;
  background: url('/logo2.png') no-repeat;
  background-size: 100%;
  width:85px;
  height:50px;
  float: left;
}

div#article-tools-right{
float:right;
}

div#article-tools{
  margin: 0px 100px;
  margin-right: 0px;
  padding-bottom:0px;
  height:22px;
}

div#article-tools .group{
float: left;
padding: 0px 7px;
padding-top: 3px;
padding-bottom:0px;
margin-right:1px;
border: 1px solid #bd8; 
border-bottom: 1px solid #FFF;
background: #FFF;
font-size:80%;
height:22px;
}

div#article-tools .below{
border: 1px solid #9df; //#B3B3B3;
border-bottom: 1px solid #bd8;
background: #eef5ff;
}

div#article-tools .left{
-moz-border-radius-topleft: 6px;
-webkit-border-top-left-radius: 6px;
}

div#article-tools .right{
-moz-border-radius-topright: 6px;
-webkit-border-top-right-radius: 6px;
}

div#star-tool{
  background: url('/star-watch.png') no-repeat;
  width:16px;
  height: 16px;
}

div#article-tools .group h5{
  display:none;
}

div#search{
float:right;
}

div#article{
  margin: 0;
  margin-top: 4px;
  border: 1px solid #bd8; //#B3B3B3; 
  padding: 5px;
  padding-top: 10px;
  background: #FFF;
}