body{
    background: #F7F7F7;
    font-family: Helvetica, arial, sans-serif;
    font-size:.85em;
    padding: 0px 18px;
    padding-top: 7px;
    color: #555;
}

dd{
margin-left:2em;
}

a:link, a:visited{
    color:#08c;
    text-decoration:none;
}

div#body{
      margin: 0;
      margin-top: 4px;
      border: 1px solid #bd8; /* #B3B3B3; */
      padding: 5px;
      padding-top: 10px;
      background: #FFF;
}

#article_title{
    border: 1px solid #B3B3B3;
}

textarea#revision_body{
    width:99%;
    margin:4px 0px;
    border: 1px solid #B3B3B3;
}

.new-wrapper-body{
    text-align: center;
}

.title, h1, h2, h3, h4, h5, h6 {
    margin: 1.25em 0em 0.5em 0em;
}

.title {
    font-size: 3em;
    font-weight: bold;
    margin-left: 0.25em;
    margin-top: 0em;
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1em; }
h4 { font-size: 1em; }

p { margin: 1em 0em 1em 0em; }


.article-text {
    margin: 1em 1em 1em 1.5em;
}

.editsection {
    float: right;
}

ul li {
    margin: 0 0 0 2em;
    list-style-type: disc;
}

li {
    padding-bottom: .3em;
}
