form {
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    background-color: #eef5ff;
    border: 1px solid #0088CC;
    font-size: .9em;
    margin: 1em 0em 0em;
    padding: 2px;
    width: 25em;
    text-align: left;
    border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    -webkit-border-top-left-radius:6px;
    border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-right-radius:6px;
}
form h1 {
    background: #08C url("/images/alert-overlay.png") repeat-x;
    display: block;
    padding: 5px 10px 6px;
    margin-bottom:5px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    text-shadow: 0 -1px 1px #08C; 
    border-bottom: 1px solid #08C;
    position: relative;
    outline:0px;
    border:0px;
}
form p {
    padding-left:5px;
    display:block;
    height: 22px;
}
form p label {
    float:left;
    display:inline;
}
form p input {
    float:right;
    border: 1px solid #08C;
    display: inline;
}
form input {
    padding-left:5px;
}
.button {
    -moz-box-sizing:content-box;
    background: #222 url("/images/alert-overlay.png") repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: none;
    line-height: 1;
    border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-box-shadow: 0 1px 1px #999;
    -webkit-box-shadow: 0 1px 1px #999;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px rgba(0,0,0,0.25);
    position: relative;
    outline:0px;
    border:0px;
}
.button:hover {
    background-color: #111;
    color: #fff;
}
.button:active {
    top: 1px;
}

.small.button, .small.button:visited {
    font-size: 11px;
}
.button, .button:visited,
.medium.button, .medium.button:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.large.button, .large.button:visited {
    font-size: 14px;
    padding: 8px 14px 9px;
}

.green.button, .green.button:visited {
    background-color: #91bd09;
}
.green.button:hover {
    background-color: #749a02;
}
.blue.button, .blue.button:visited {
    background-color: #08C;
}
.blue.button:hover {
    background-color: #007d9a;
}
.red.button, .red.button:visited {
    background-color: #e33100;
}
.red.button:hover {
    background-color: #872300;
}
.magenta.button, .magenta.button:visited {
    background-color: #a9014b;
}
.magenta.button:hover {
    background-color: #630030;
}
.orange.button, .orange.button:visited {
    background-color: #ff5c00;
}
.orange.button:hover {
    background-color: #d45500;
}
.yellow.button, .yellow.button:visited {
    background-color: #ffb515;
}
.yellow.button:hover {
    background-color: #fc9200;
}
