form.new_user, form.new_user_session {
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    background-color: #eef5ff;
    border: 1px solid #9DF;
    font-size: .9em;
    margin: 1em auto;
    width: 33em;
    text-align: left;
/*    border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    -webkit-border-top-left-radius:6px;
    border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-right-radius:6px;*/
}
form.new_user h1, form.new_user_session h1 {
    height:14px;
    max-height:14px;
    background: #FFF url('/images/Gradient-blue.png') repeat-x;
    display: block;
    margin-bottom:1em;
    color: #08c;
    text-decoration: none;
    font-weight: bold;
    line-height: 12px;
/*    border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    text-shadow: 0 1px -1px #fff; */
    border-bottom: 1px solid #9DF;
    position: relative;
    outline:0px;
    padding:4px 6px;
}
form.new_user h1 a, form.new_user_session h1 a{
    float:right;
}
form.new_user div, form.new_user_session div {
    position:relative;
    padding-left:5px;
    display:block;
    height:30px;
    margin-bottom:.125em;
}
form.new_user div.entry label, form.new_user_session div.entry label {
    font-size:1.125em;
    position:absolute;
    bottom:4px;
    left:8px;
    vertical-align:bottom;
    padding-bottom:0px;
}
form.new_user div.entry input, form.new_user_session div.entry input {
    font-size:14px;
    width:66%;
    position:absolute;
    bottom:0;
    right:0;
    height:22px;
    padding:0;
    margin-bottom:2px;
    margin-left:8px;
    margin-right:8px;
    border: 1px solid #9DF;
}

form.new_user div.submit input, form.new_user_session div.submit input {
    height:22px;
    padding-left:5px;
    margin:8px;
    float:right;
}
form.new_user div.submit, form.new_user_session div.submit {
    height:23px;
    margin-bottom:16px;
}
.submit {
    width:99%;
    text-align:center;
}
.button {
    -moz-box-sizing:content-box;
    background: #222 url("/images/alert-overlay.png") repeat-x;
    display: inline-block;
    color: #fff;
    text-align:center;
    text-decoration: none;
    font-weight:bold;
    line-height: 1;
/*    border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-box-shadow: 0 1px 1px #999;*/
    -webkit-box-shadow: 0 1px 1px #999;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    position: relative;
    outline:0 none;
    border:0 none;
    margin:0 3px;
    width:33%;
}
.button:hover {
    background-color: #111;
    color: #fff;
}
.button:active {
    top: 1px;
}

.small.button, .small.button:visited {
    font-size:11px;
}
.button, .button:visited,
.medium.button, .medium.button:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
}
.blue.button, .blue.button:visited {
    background-color: #08C;
}
.blue.button:hover {
    background-color: #007d9a;
}
.grey.button, .grey.button:visited {
    background-color: #666;
}
.grey.button:hover {
    background-color: #ec;
}

