<% @article.revisions.find_all_ordered.each do |revision| %>
	<p>
		<%= link_to "Revision #{revision.id}", show_revision_path(revision, @article) -%>
		<%=h revision.created_at.to_s	-%>
	</p>
<% end %>
