<div id="notice">You are viewing an older revision of this page.</div>
<h1><%=h @article.title -%></h1>
<p><%=h @revision.body -%></p>
<div id="revision-summary">
	<p>Edit Summary: <%=h @revision.summary -%></p>
</div>
