<%= render :partial => 'layouts/toolbar_header',
	:locals => {:article			=> @article,
				:article_active		=> true,
				:talk_forum			=> nil,
				:talk_forum_active	=> false,
				:read_active		=> false,
				:edit_active		=> false,
				:history_active		=> true,
				:star_active		=> false,
				:menu_active		=> false
				} -%>

<div id="body">
	<div id="notice">You are viewing an older revision of this page.</div>
	<h1><%=h @article.title -%></h1>
	<p><%=h @revision.body -%></p>
	<div id="revision-summary">
		<p>Edit Summary: <%=h @revision.summary -%></p>
	</div>
</div>