<div id="logo"></div>
<div id="login-bar">
	hey look this is that bar where login stuff usually goes~!
</div>

<div id="main-tools"></div>
<div>
	<div id="article-tools">
	    <div id="article-tools-left">
		<div class="group left">
		    <div class="body">Article</div>
		</div>
		
		<div class="group below right">
		    <div class="body">Talk</div>
		</div>
	    </div>

	    <div id="search">
		<input id="searchInput" title="Search Magmawiki" accesskey="f" value="" name="search" /> 
	    </div>

	    <div id="article-tools-right">
		<div class="group left">
		    <div class="body">Read</div>
		</div>
		
		<div class="group below">
		    <div class="body">Edit</div>
		</div>

		<div class="group below">
		    <div class="body">History</div>
		</div>

		<div class="group below right">
		    <div id ="star-tool"></div>
		</div>
	    </div>
	</div>
</div>