<div id="logo"></div>
<div id="login-bar">
	main page | random article | Emi | my contribs | log out
</div>

<div id="main-tools"></div>
<div>
	<div id="article-tools">
	    <div id="article-tools-left">
		<div class="group active left">
		    <div class="body">
				<% if article.nil? || article.id.nil? %>
					<a href="#">Article</a>
				<% else %>
					<%= link_to "Article", article_path(article) %>
				<% end %>
			</div>
		</div>
		
		<div class="group below right">
		    <div class="body"><a href="#">Talk</a></div>
		</div>
	    </div>

	    <div id="search">
		<input id="searchInput" title="Search Magmawiki" accesskey="f" value="" name="search" /> 
	    </div>

	    <div id="article-tools-right">
		<div class="group active left">
		    <div class="body"><a href="#">Read</a></div>
		</div>
		
		<div class="group below">
		    <div class="body"><a href="#">Edit</a></div>
		</div>

		<div class="group below">
		    <div class="body"><a href="#">History</a></div>
		</div>

		<div class="group below">
		    <div id ="star-tool"></div>
		</div>

		<div class="group active right">
		    <div class="body triangle">
			<a href="#">
			   <div id="arrow-menu">
			      <a href="#">lool</a><br>
			      <a href="#">what</a><br>
			      <a href="#">huh</a><br>
			      <a href="#">yeah</a>
			   </div>
			    ▼
			</a>
		    </div>
		</div>
	    </div>
	</div>
</div>