<div id="logo"></div>
<div id="login-bar">
	main page | random article | Emi | my contribs | log out
</div>

<div id="main-tools"></div>
<div>
	<div id="article-tools">
	    <div id="article-tools-left">
			<%= article_tab(article, true) -%>
			<%= talk_tab(nil, false) -%>
	    </div>

	    <div id="search">
		<input id="searchInput" title="Search Magmawiki" accesskey="f" value="" name="search" /> 
	    </div>

	    <div id="article-tools-right">
		<div class="group active left">
		    <div class="text"><a href="#">Read</a></div>
		</div>
		
		<div class="group below">
		    <div class="text"><a href="#">Edit</a></div>
		</div>

		<div class="group below">
		    <div class="text"><a href="#">History</a></div>
		</div>

		<div class="group below">
		    <div id ="star-tool"></div>
		</div>

		<div class="group active right">
		    <div class="text triangle">
			<a href="#">
			   <div id="arrow-menu">
			      <a href="#">lool</a><br>
			      <a href="#">what</a><br>
			      <a href="#">huh</a><br>
			      <a href="#">yeah</a>
			   </div>
			    ▼
			</a>
		    </div>
		</div>
	    </div>
	</div>
</div>